<div class="row mt-3">
  <div class="col-12">
    <form (submit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="mb-3 col-4">
          <label for="name" class="form-label">name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            aria-describedby="emailHelp"
            required
            ngModel
          />
        </div>
        <div class="mb-3 col-2">
          <label for="amount" class="form-label">Amount</label>
          <input
            type="number"
            class="form-control"
            id="password"
            name="amount"
            pattern="^(0|[1-9][0-9]*)$"
            required
            [ngModel]="0"
          />
        </div>
      </div>
      <div class="row-12">
        <button
          type="submit"
          class="btn btn-success me-2"
          [disabled]="f.invalid"
        >
          {{ editMode ? "Update" : "Add" }}
        </button>
        <button
          class="btn btn-danger me-2"
          (click)="onDelete()"
          [disabled]="!editMode"
        >
          Delete
        </button>
        <button class="btn btn-primary" (click)="onClear()">Clear</button>
      </div>
    </form>
  </div>
</div>
